@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mostafa Shaaban<br />
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/mostafa-shaaban-538b20180/">LinkedIn Account</a><br />
    <strong>GitHub:</strong>   <a href="https://github.com/Mostafa-shaban-mohamed">GitHub Account</a><br />
</address>

<address>
    <strong>To contact me:</strong>   <a href="mailto:MostafaShaban4522912@gmail.com">Mostafa Shaban Email</a><br />
</address>